:root {
  --orange: #fb6514;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  background-color: #1b1b1b;
  color: white;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

:is(h1, h3, h2) {
  font-weight: 700;
}

h1 {
  font-size: 61px;
  text-align: center;
}

.btn {
  padding: 20px 26px;
  background-color: var(--orange);
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 22px;
  font-weight: 500;
}

.light-btn {
  padding: 14px 18px;
  border-radius: 18px;
  background-color: #fff;
  color: #8714fb;
  width: 127px;
}

#category,
#progress,
#plan,
#trainingstep {
  background-color: #000;
}

.categoryData,
.progressContainer,
.planContainer,
.firstTrainingContainer,
.thirdTrainingContainer,
.secondTrainingContainer {
  background-color: #1b1b1b;
  margin: 0px 28px;
  border-radius: 80px;
}

/* hedaer section */

header .container {
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
}

header .container nav {
  display: flex;
  gap: 110px;
  align-items: center;

  img {
    display: none;
  }
}

header .container nav ul {
  list-style: none;
  display: flex;
  gap: 52px;
  font-size: 21px;
  font-weight: 500;
}

header .container nav .btns {
  display: flex;
  gap: 14px;
}

header .container nav .btns .login {
  border: 1px solid white;
  border-radius: 18px;
  padding: 14px 18px;
  font-size: 16px;
  font-weight: 700;
}

header .container nav .btns .signUp {
  background-color: #fb6514;
  border-radius: 18px;
  padding: 14px 18px;
  font-size: 16px;
  font-weight: 700;
}

/* hero section */

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("../Images/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero .container {
  padding: 225px 944px 190px 0px;
}

#hero .container .cta {
  width: 740px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#hero h1 {
  font-size: 80px;
}

#hero p {
  font-size: 27px;
  font-weight: 400;
  line-height: 168%;
}

#hero form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 22px;
}

#hero form input {
  width: 450px;
  /* height: 50pxs; */
  border-radius: 25px;
  border: none;
  padding-left: 20px;
}

#hero form input::placeholder {
  font-size: 23px;
  font-weight: 300;
}
/* brand section */

#brand {
  background-color: black;
}

#brand .container {
  padding: 67px 0px;
  display: flex;
  justify-content: space-between;
}

#brand .container .imgContainer {
  width: 170px;
}

/* category section */

#category .categoryData {
  background-color: #1b1b1b;
  margin: 0px 28px;
  border-radius: 80px;
  padding: 43px 0px;
}

#category .container {
  padding: 67px 0px 47px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 98px;
}

#category .container .categoryCard {
  background: linear-gradient(to bottom, #b468ff, #8714fb);
  padding: 40px;
  border-radius: 50px;

  .cta {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 157%;
  }

  h3 {
    font: 21px;
    font-weight: 700;
    line-height: 120%;
  }
}

#category .container .categoryCard img {
  width: 58px;
  height: 58px;
  margin-bottom: 53px;
}

/* progress section */

#progress {
  padding: 23px 0px;
}

#progress .progressContainer {
  background-image: url("/Images/bg-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0px 86px;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 112px;

    h1 {
      text-align: left;
      width: 450px;
      font-size: 47px;
      padding: 32px 0px;
    }
    p {
      font-size: 27px;
      font-weight: 400;
      line-height: 168%;
      width: 370px;
      text-align: left;
    }
  }
}
/* plans section */

#plan .planContainer {
  padding: 84px;
}

#plan .planCardContainer {
  margin-top: 86px;
  display: flex;
  gap: 99px;

  .planCard {
    background-color: #000;
    width: 395px;
    border-radius: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.6)), url('../Images/img2.jpg'); 
    background-position: top; 
    background-repeat: no-repeat;
    background-size: contain; */

    /* .imgContainer {
      position: relative;
      display: inline-block;
    } */

    img {
      border-radius: 70px 70px 0px 0px;
    }

    .benefits {
      padding: 40px;
    }

    h3 {
      position: absolute;
      top: 160px;
    }

    .topSection {
      margin: 0px 40px 26px;

      h1 span {
        font-size: 21px;
        color: var(--orange);
        font-weight: 400;
      }
      p {
        font-size: 16px;
        line-height: 157%;
      }
    }

    hr {
      width: 295px;
      margin: 10px 0px;
    }

    h3 {
      font-size: 36px;
    }
  }

  .planCard:nth-child(2) {
    background-color: var(--orange);

    .dark-btn {
      background: #000;
      border: none;
    }

    .topSection h1 span {
      font-size: 21px;
      color: #fff;
    }
  }
}

.dark-btn {
  background-color: transparent;
  border: 18px;
  border-radius: 25px;
  border: 1px solid white;
  padding: 20px 71px;
  margin-top: 21px;
  display: flex;
  gap: 25px;
  font-size: 22px;
  align-items: center;
}

/* training step */

#trainingstep {
  padding-top: 158px;
  padding-bottom: 33px;
  border-radius: 0px 0px 80px 80px;
}

#trainingstep .firstTrainingContainer {
  padding: 60px 0px;
  margin: 29px 28px;

  .container {
    display: flex;
    gap: 175px;
  }
}

.leftContainer:nth-child(1),
.leftContainer:nth-child(3),
.rightContainer:nth-child(2) {
  width: 724px;
  height: 724px;

  img {
    border-radius: 85px;
    object-fit: cover;
    /* background: linear-gradient(to bottom right, #000000, #434343); */
  }
}

#trainingstep .secondTrainingContainer {
  padding: 53px 0px;

  .container {
    display: flex;
    gap: 175px;
  }
}

#trainingstep .thirdTrainingContainer {
  padding: 62px 0px;
  margin-top: 33px;

  .container {
    display: flex;
    gap: 175px;
  }
}

#trainingstep .firstTrainingContainer .rightContainer,
#trainingstep .secondTrainingContainer .leftContainer,
#trainingstep .thirdTrainingContainer .rightContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: start;
  justify-content: center;
}

#trainingstep .firstTrainingContainer .rightContainer p,
#trainingstep .thirdTrainingContainer .rightContainer p {
  font-size: 27px;
  line-height: 168%;
}

#trainingstep .thirdTrainingContainer .rightContainer h1 {
  text-align: left;
}

#trainingstep .firstTrainingContainer .rightContainer .textContainer,
#trainingstep .thirdTrainingContainer .rightContainer .textContainer {
  display: flex;
  gap: 79px;

  h1 {
    display: flex;
    align-items: center;
    gap: 8px;

    i {
      color: #33363f;
      font-size: 24px;
    }
    span {
      color: var(--orange);
    }
  }
}

#trainingstep .secondTrainingContainer .leftContainer {
  gap: 50px;

  .works {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .work {
      display: flex;
      gap: 53px;

      span {
        width: 124px;
        height: 124px;
        background-color: #f1f1f1;
        color: #545454;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 38px;
        }
      }

      h3 {
        font-size: 27px;
        line-height: 120%;
      }

      p {
        font-size: 21px;
        font-weight: 400;
        line-height: 154%;
      }
    }
  }
}

/* map section */
#map {
  padding: 104px 0px 72px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 66px;

    .mapContainer {
      position: relative;

      .locationContainer {
        position: absolute;
        display: flex;
        bottom: 10px;
        left: 200px;
        gap: 600px;
        /* background: linear-gradient(to bottom, #000000, #434343); */

        p {
          font-size: 35px;
          font-weight: 700;
        }
      }
    }
  }
}

/* FAQ section */

#FAQ {
  padding-bottom: 104px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 47px;
  }

  .parentFAQ {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .faqContainer {
      background-color: #000;
      border: 1px solid var(--orange);
      border-radius: 80px;
      /* padding-right: 17px; */
      padding: 30px 17px 0px 30px;

      .toggleContainer {
        display: flex;
        justify-content: space-between;

        .ques {
          font-size: 36px;
          padding: 0px 0px 0px 30px;
        }

        i {
          background-color: #0b0b0b;
          border: 1px solid #717171;
          border-radius: 25px;
          padding: 18px 25px;
          margin: 0px 17px 17px;
        }
      }

      .ans {
        color: #6f6f6f;
        font-size: 21px;
        width: 800px;
        padding: 0px 0px 30px 30px;
        line-height: 157%;
      }
    }

    .faqContainer[open] summary {
      i.fa-angle-down {
        display: none;
      }

      .ques {
        padding-bottom: 0px;
      }
    }

    .faqContainer:not([open]) summary {
      i.fa-angle-up {
        display: none;
      }
    }
  }
}

/* news section */

#news {
  display: flex;
  flex-direction: column;
  gap: 74px;

  .newsContainer {
    background-color: #000;
    border-radius: 80px;
    margin: 0px 32px;
    padding: 147px 0px;

    .container {
      display: flex;
      gap: 109px;

      .newsCard {
        display: flex;
        flex-direction: column;
        gap: 17px;

        img {
          width: 70px;
          height: 65px;
        }

        h3 {
          font-size: 36px;
          font-weight: 700;
          line-height: 120%;
        }

        p {
          color: #667085;
          font-size: 21px;
          line-height: 141%;
          font-weight: 400;
        }
      }
    }
  }
}

/* tex section */

#tex {
  .texContainer {
    background-image: url("../Images/tex-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 14px 25px;
    background-color: #181818;
    border-radius: 80px;
    padding: 129px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      display: flex;
      flex-direction: column;
      gap: 51px;
      align-items: center;

      p {
        width: 955px;
        font-size: 27px;
        font-weight: 400;
        line-height: 168%;
        text-align: center;
      }
    }

    .btn {
      width: 206px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }
}

/* footer section */

footer {
  .footerContainer {
    background-color: #000;
    border-radius: 80px 80px 0px 0px;
    padding: 128px 0px 58px;

    .footerContent {
      display: flex;
      gap: 181px;
      margin-bottom: 197px;

      .footerLogoContainer {
        width: 559px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        img {
          width: 331px;
        }

        p {
          font-size: 27px;
          line-height: 168%;
        }
      }

      .links {
        display: flex;
        gap: 152px;

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 39px;

          h3 {
            font-size: 28px;
            font-weight: 700;
          }

          li a {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }

    .copyright {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      ul {
        list-style: none;
        display: flex;
        gap: 16px;
      }
    }
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0px 25px;
  }

  header .container {
    padding: 0px 25px;
  }

  header .container nav {
    ul {
      display: none;
    }

    .btns {
      display: none;
    }

    img {
      display: block;
    }
  }

  #hero .container {
    padding: 74px 30px 198px;

    h1 {
      font-size: 47px;
    }

    .cta {
      width: 307px;

      p {
        font-size: 21px;
        text-align: center;
      }

      form {
        display: none;
      }
    }
  }

  #brand {
    padding: 42px 28px 30px;

    .container {
      flex-direction: column;
      gap: 59px;
      align-items: center;
    }
  }

  #category {
    .categoryData {
      margin: 0px 22px;
      padding: 40px 9px;
      display: flex;
      flex-direction: column;
      gap: 101px;

      .container {
        grid-template-columns: 1fr;
        gap: 35px;
        padding: 0px;
      }

      .container .categoryCard {
        background: #000;

        .light-btn {
          padding: 14px 18px;
          border-radius: 18px;
          background-color: var(--orange);
          color: #000;
          width: 127px;
        }
      }
    }

    h1 {
      font-size: 27px;
      padding: 0px 15px;
    }
  }

  #progress {
    padding: 10px;

    .progressContainer {
      margin: 0px;
      padding: 0px;

      .container {
        flex-direction: column;
        padding: 81px 32px 44px 32px;

        h1,
        p {
          width: auto;
          text-align: center;
        }

        p:nth-child(3) {
          padding-top: 200px;
        }
      }
    }
  }

  #plan {
    padding: 24px 22px 24px 14px;

    .planContainer {
      padding: 0px;
      margin: 0;

      .container {
        padding: 60px 20px 35px;

        h1 {
          font-size: 27px;
        }

        .planCardContainer {
          flex-direction: column;
          padding: 0px;
          align-items: center;
          gap: 17px;

          .planCard {
            width: 320px;
            padding: 0px 30px 37px;

            img {
              width: 320px;
            }

            .topSection {
              margin: 0px 24px 28px;
            }

            hr {
              width: 228px;
            }

            p {
              font-size: 12px;
            }

            .dark-btn {
              font-size: 16px;
              padding: 20px 30px;
            }
          }
        }
      }
    }
  }

  #trainingstep {
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    h1 {
      font-size: 27px;
    }

    .firstTrainingContainer {
      padding: 10px 10px 74px 10px;
      margin: 29px 28px;

      .container {
        padding: 0px;
        flex-direction: column;
        gap: 37px;
        align-items: center;

        .leftContainer {
          width: 320px;
          height: 320px;
          img {
            width: 320px;
            height: 320px;
          }
        }

        .rightContainer {
          width: 320px;
          gap: 33px;
          align-items: center;

          h1 {
            font-size: 47px;
          }

          p {
            font-size: 21px;
            text-align: center;
          }

          .textContainer {
            flex-direction: column;
            gap: 36px;
          }
        }
      }
    }

    .secondTrainingContainer {
      /* padding: 18px 9px; */
      padding-top: 70px;
      margin: 0px 16px;

      .container {
        padding: 18px 25px;
        flex-direction: column;
        gap: 40px;

        .leftContainer {
          width: 320px;

          .works {
            gap: 50px;

            .work {
              flex-direction: column;
              gap: 13px;

              span {
                width: 81px;
                height: 81px;
              }

              h3 {
                font-size: 24px;
              }

              p {
                font-size: 18px;
              }
            }
          }

          .btn {
            font-size: 26px;
          }
        }

        .rightContainer {
          width: 320px;
          height: 320px;
          margin-top: 60px;
          img {
            width: 320px;
            height: 320px;
          }
        }
      }
    }

    .thirdTrainingContainer {
      margin-top: 0px;
      padding: 10px;

      .container {
        padding: 10px 13px 80px;
        flex-direction: column;
        gap: 80px;
        /* align-items: center; */
        justify-content: center;

        .leftContainer {
          width: 320px;
          height: 320px;

          img {
            width: 320px;
            height: 320px;
          }
        }

        .rightContainer {
          width: 320px;

          h1 {
            font-size: 47px;
          }

          p {
            font-size: 21px;
            line-height: 213%;
          }

          .textContainer {
            flex-direction: column;
            gap: 36px;
          }
        }
      }
    }
  }

  #map {
    padding: 66px 33px;

    .container {
      gap: 47px;

      h1 {
        font-size: 27px;
      }

      .mapContainer {
        img {
          width: 320px;
          height: 670px;
        }

        .locationContainer {
          flex-direction: column;
          gap: 10px;
          left: 10px;
          align-items: center;

          p {
            font-size: 20px;
          }

          .btn {
            width: 166px;
            font-size: 15px;
            margin-bottom: 23px;
          }
        }
      }
    }
  }

  #FAQ {
    padding: 66px 10px 39px;

    .container {
      gap: 47px;

      .parentFAQ {
        .faqContainer {
          padding: 22px 17px;
          .toggleContainer {
            /* gap: 16px; */
            .ques {
              font-size: 16px;
              padding: 0px 0px 0px 20px;
            }

            i {
              padding: 7px 10px;
              margin: 0px 15px 17px 0px;
            }
          }

          .ans {
            width: 286px;
          }
        }
      }
    }
  }

  #news {
    gap: 56px;
    h1 {
      font-size: 36px;
    }

    .newsContainer {
      padding: 44px 0px;

      .container {
        flex-direction: column;
        gap: 64px;

        .newsCard {
          align-items: center;
          text-align: center;

          h3 {
            font-size: 21px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  #tex {
    margin: 21px 11px;

    .texContainer {
      padding: 29px 25px 73px;
      margin: 14px 11px;

      .container {
        h1 {
          font-size: 36px;
        }
        p {
          width: 320px;
          font-size: 21px;
        }
      }
    }
  }

  footer {
    .footerContainer {
      .container {
        .footerContent {
          flex-direction: column;
          gap: 48px;
          margin-bottom: 47px;

          .footerLogoContainer {
            width: 315px;

            img{
              width: 217px;
            }

            p{
              font-size: 18px;
              text-align: center;
            }
          }

          .links {
            flex-direction: column;
            gap: 28px;
            /* align-items: center; */

            ul {
              gap: 28px;
              h3 {
                font-size: 18px;
              }

             a {
                font-size: 16px;
              }
            }
          }
        }

        hr {
          display: none;
        }

        .copyright {
          margin-top: 0px;
        }
      }
    }
  }
}
